* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--text-color);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}



.app, .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1700px; /* límite del ancho */
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

@media (max-width: 950px) {
  .app {
    display: none;
  }

  .not-available {
    display: block;
  }
}

@media (min-width: 950px) {
  .not-available {
    display: none;
  }
}
