body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 950px;
  max-width: 1700px;
  margin: auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-text);
  margin: 0;
  padding: 0;

}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover p {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 300;
}

div {
  display: flex;
}

input, textarea {
  font-family: 'Inter';
  color: var(--color-text);
  background-color: transparent;
}

label {
  color: var(--color-text);
}

select {
    display: flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 7px 0px 7px 15px;
    border: 1px solid var(--color-border2);
    border-radius: 50px;
    font-size: 12px;
    font-family: Inter, sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 25 25' fill='none' stroke='%23FFFFFF' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
    transition: all 0.5s ease;
}