:root {
    --font-main: 'Inter', Avenir, Helvetica, Arial, sans-serif;

    /* Light theme */
    --color-bg: #F9F9F9;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
    --color-text2: #747474;

    --color-primary: #7376FF;
    --color-border: #DADADA;
    
    --shadow-card: 0px 0px 10px rgba(0,0,0,.1);
}


/* Dark theme */
.dark {
    --color-bg: #202020;
    --color-bg-secondary: #202020;
    --color-text: #FFFFFF;
    --color-text2: #FFFFFF7A;
    --color-border: #87878750;
    --color-border2: #87878750;
    --shadow-card: none;
}

/* .Inter {
  font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} */