:root {
    --font-main: 'Inter', Avenir, Helvetica, Arial, sans-serif;

    /* Light theme */
    --color-bg: #F9F9F9;
    --color-bg-secondary: #ffffff;
    --color-text: #000000;
    --color2: #747474;

    --color-primary: #7376FF;
    --color-border: #DADADA;
    --color-border2: #DADADA;
    --shadow-card: 0px 0px 10px rgba(0,0,0,.1);
}


/* Dark theme */
.dark {
    --color-bg: #202020;
    --color-bg-secondary: #ffffff5A
    --color-text: #FFFFFF;
    --color2: #FFFFFF1E;
    --color-border: #FFFFFF50;
    --color-border2: #FFFFFF50;
    --shadow-card: none;
}